<h1> Welcome to Meal Planner! </h1>
<hr>
<div>
   <h2><a href="/users/new">Create user</a></h2>
   <h2><a href="/users/">See all users</a></h2>
   <br>
   <h2><a href="/households/new">Create household</a></h2>
   <h2><a href="/households/">See all households</a></h2>
</div>
<hr>