<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Create Household</a>
      <a href="/">Home</a>
      <a href="/users/new">Create User</a>
    </nav>
    <div class='main'>
      {{{body}}}
    </div>
  </body>
</html>
