<!DOCTYPE html>
<html>
  <head>
    <title>Meal Planner</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/users/">Users</a>
      <a href="/households/">Households</a>
    </nav>
    <div class='main'>
      {{{body}}}
    </div>
  </body>
</html>
