<h1>New Household</h1>
<hr>
<form action="/households/" method='POST'>
   <label for="name">Household name:</label>
   <input type="text" name='name' required='true'>
   <br><br>

   <label for='members'>Member names:</label><br>
   <textarea cols="50" rows="3" type='text' name='members'></textarea>
   <br>
   <label>(seperate with a comma and space)</label>

   <br><br>

   <button type='submit'>Create Household</button>
</form>
<hr>
<a href="/households/">Cancel</a>